<!DOCTYPE html>
<html class="light" lang="en" 
    th:fragment="parent(content, title, script)"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">SCM</title>
    <!-- <title th:text="${title} ?: 'Base Page'">SCM</title> -->
    <link rel="stylesheet" th:href="@{/css/output.css}">

    <!-- Add Flowbite CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<!-- <body class="bg-gray-100 text-black"> -->


<body class=" bg-gray-50 dark:bg-gray-900 dark:text-white">

    <!-- <user is logged in > -->
    <div th:if="${loggedInUser}">
        <div data-th-replace="~{loggedNavbar :: navbar}"></div>

    </div>

    <!-- <user is NOT logged in > -->
    <div th:unless="${loggedInUser}">
        <div data-th-replace="~{navbar :: navbar}"></div>  

    </div>


    <div data-th-insert ="~{sidebar :: sidebar}"></div>

    <!-- <Main content> -->
    <div class="p-4 ms-70 mt-40 me-5">
        <section data-th-replace="${content}"></section>
    </div>
    <!-- <common footer> -->

    <!-- Script-->

    <!-- Add Flowbite JS before closing </body> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.all.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
    <script data-th-src="@{'/js/cart.js'}"></script>
    <script data-th-src="@{'/js/search.js'}"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>

</html>
