<!DOCTYPE html>
<html
  lang="en"
  data-th-replace="~{store/base-store :: parent(~{::#content}, ~{::title}, ~{::script})}"
>
  <head>
    <title >
        contact page
    </title>
  </head>
  <body>
    <div id="content" class="container">
        
        
      <h1>Contact Us</h1>
      <p>
        If you have any questions, feel free to reach out to us using the
        contact details below:
      </p>
      <div class="contact-info">
        <div><span>Email:</span> support@fastkart.com</div>
        <div><span>Phone:</span> +1 (123) 456-7890</div>
        <div><span>Address:</span> 123 FastKart Lane, Shopville, FK 56789</div>
      </div>
      <script>
        console.log("Contact page");
      </script>
    </div>
  </body>
</html>
