<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}"
>
  <head>
    <title>Register page</title>
  </head>

  <body>
    <div id="content">
      <div
        class="w-full max-w-lg p-6 mx-auto mt-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700"
      >

          <!-- message -->
        <div data-th-replace="~{message::messagebox}"></div>

        <!-- this is form -->
        <form class="space-y-6"
         data-th-action="@{/do-register}"
          method="post"
          data-th-object="${userForm}">
          <h5
            class="text-3xl font-medium text-center text-gray-900 dark:text-white"
          >
            Create an account
          </h5>


          <div class="flex gap-y-6 space-x-4">
            <!-- First Name -->
            <div class="w-1/2">
              <label
                for="first_name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >First Name</label
              >
              <input
                data-th-field="*{firstName}"
                type="text"
                name="first_name"
                id="first_name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="First Name"
                required
              />
            </div>

            <!-- Last Name -->
            <div class="w-1/2">
              <label
                for="last_name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Last Name</label
              >
              <input
                data-th-field="*{lastName}"
                type="text"
                name="last_name"
                id="last_name"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="Last Name"
                required
              />
            </div>
          </div>

          <div class="flex gap-y-6 space-x-4">
            <!-- Email -->
            <div class="w-1/2">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Your Email</label
              >
              <input
                data-th-field="*{email}"
                type="email"
                name="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="name@company.com"
                required
              />
            </div>

            <!-- Phone Number -->
            <div class="w-1/2">
              <label
                for="phone_number"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Your Phone Number</label
              >
              <input
                data-th-field="*{phoneNumber}"
                type="tel"
                name="phone_number"
                id="phone_number"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="+91-9878984898"
                required
              />
            </div>
          </div>


    
          <div class="flex gap-y-6 space-x-4">
            <!-- Password -->
            <div class="w-1/2 relative">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Password</label
              >
              <input
                data-th-field="*{password}"
                type="password"
                name="password"
                id="password"
                placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required
              />
              <button
                type="button"
                onclick="togglePassword('password')"
                class="absolute right-3 top-10 text-gray-500 dark:text-gray-400"
              >
                👁
              </button>
            </div>

            <!-- DOB -->
            <div class="w-1/2 relative">
              <label
                for="user-birth-date"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Date of Birth
              </label>
              <div class="relative">
                <input
                  type="date"
                  th:field="*{DOB}"
                  id="student-birth-date"
                  datepicker
                  datepicker-format="yyyy-mm-dd"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  required
                />
     
              </div>
            </div>
            
            

            <!-- Confirm Password -->
            <!-- <div class="w-1/2">
              <label
                for="confirm_password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Confirm Password
              </label>
              <input
                type="password"
                name="confirm_password"
                id="confirm_password"
                placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required
              />
            </div> -->
          </div>

          <div class="flex items-start">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input
                  id="remember"
                  type="checkbox"
                  value=""
                  class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
                  required
                />
              </div>
              <label
                for="terms_condition"
                class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >I accept the
                <a
                  href="#"
                  class="text-blue-700 hover:underline dark:text-blue-500"
                  >Terms and Conditions
                </a>
              </label>
            </div>
            <!-- <a href="#" class="ms-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Lost
                        Password?</a> -->
          </div>
          <button
            type="submit"
            class="w-full text-white text bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Create an account
          </button>
          <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
            Already have an acoount?
            <a href="#" class="text-blue-700 hover:underline dark:text-blue-500"
              >Login here
            </a>
          </div>
        </form>
      </div>
    </div>
    <script>
      console.log("Register page");
    </script>
  </body>
</html>
